html {box-sizing: border-box;}
*,::after, ::before {box-sizing:inherit;}

$color-primary: #F03000;
$color-footer: #444444;
$color-ikon: #F0F0F0;

$spacer: 20px;

$font-main: 'Open Sans', sans-serif;
$font-special: 'Montserrat', sans-serif;

body {
    margin: 0;
    font-family: $font-main;
    padding: $spacer
}

.wraper {
    max-width: 1140px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
li {
    font-family: $font-special;
}

h2 {
    margin-top: $spacer * 2;
}

.header {
    @media screen and (min-width:480px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}

.logo {
    display: block;
    margin: 35px auto 30px;
    @media screen and (min-width:480px) {
        margin: 40px 0 40px 20px;
    }
}

.menu {
    display: flex;
    justify-content: center;
    font-weight: 600;
    }


.menu__item {
    text-decoration: none;
    color: $color-primary;
    display: block;
    padding: 20px;

    &:hover {
    color:white;
    background-color: $color-primary; 
    }    

    @media screen and (min-width:480px) {
        
    }

}

.offer {
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;

    &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    }

    &__price {
    font-size: 18px;
    padding: $spacer / 2;
    background-color: $color-primary;
    color:white;
    font-weight: 600;
    margin: $spacer;
    align-self: start;
    }

    &__texts {
        color: white;
        margin: $spacer;
    }

    &__text {
        margin: 0;
    }

}

.offers {
    display: grid;
    grid-template-rows: 240px 150px 150px;
    gap: $spacer;
    margin-top: 30px;

    @media screen and (min-width: 480px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 380px 180px;

        & :first-child {
            grid-column: 1 / -1;
        }
    }

    @media screen and (min-width: 1100px) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 180px 180px;

        & :first-child {
            grid-column: 1 / 2;
            grid-row: 1 / -1;

        }
    }
}



.ikons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: $spacer * 2;

    @media screen and (min-width:480px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 190px 190px;
        gap: $spacer;
    }

     @media screen and (min-width:1100px){
        grid-template-columns: repeat(4, 1fr);
     }
}

.ikon {
    background-color: $color-ikon;
    padding: 20px 20px 20px 0;
    display: grid;
    grid-template-columns: 95px auto;

    @media screen and (min-width:480px) { 
        display: inline;
        text-align: center;
        padding: $spacer;
    }
    
}

.ikon__title {
    color: $color-primary;
    margin: 0;
    font-size: 18px;
    margin-top: 20px;
    @media screen and (min-width:480px) {

    }
}

.ikon__text {
    margin-bottom: 0;
}

.ikon__image {
    justify-self: center;
}


.newsletters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
}

.newsletter {
    background-color: $color-ikon;
    padding: 20px;
}

.newsletter__date {
    margin: 0;
    color: #888888;
}

.newsletter__title {
    color: $color-primary;
    margin: 0;
    padding: 10px 0;
    font-weight: 600;
}

.newsletter__text {
    margin: 0;
    font-weight: 600;
}

.footer {
    background-color: $color-footer;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 40px 0;
}
